﻿@model AdvWorksMVC.Models.Department

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Department</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GroupName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GroupName)
            @Html.ValidationMessageFor(model => model.GroupName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModifiedDate)
        </div>
        <div class="editor-field">

            @Html.EditorFor(model => model.ModifiedDate)
            @Html.ValidationMessageFor(model => model.ModifiedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HoD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoD)
            <input type="text" id="namaHoD" />
            @Html.ValidationMessageFor(model => model.HoD)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
   @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
       
}

<script>
    $(document).ready(function () {
        $("#ModifiedDate").datepicker({
            dateFormat: "DD, d MM yy",
            regional: "id"
        });
    });
    </script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
 @*<script>
    alert("error");
    $(document).ready(function () {
        $("#namaHoD").change(function (){
            var panjang = $(this).val().length * 10;

            $(this).animate({ width : panjang + "px";  backgroundColor : "gold"; },5000);
    });
    var employees = [];



    //$.getJSON("../api/employeeAPI", function (data) {
    //    employees[idx] = row.LoginID;
    //});

    $.each(data, function (idx,row) {
        employees[idx] =
            {
                'label' : row.LoginID,
                'value' : row.BusinessEntityID
            };

    });

    $("#namaHoD").autocomplete({
        minLength : 2,
        source : employees
        select function (e, ui) {
        e.preventDefault();
        $(this).val(ui.item.label);
        $("#HoD").val(ui.item.value);
            }
    });
          
     });
        </script> *@

